
// ヘッダー 
.header {
  height: 150px;
  display: flex;
  align-items: center;

  img {
    height: 100px;
    margin: 0 350px;
  }

}
.header_left{
    font-size: 50px;
    display: flex;

    i{
      margin: 0 auto;
    }
}

// メニューボタン
.menubtn {
  display: flex;
  justify-content: center;
  font-size: 20px;
  height: 30px;
  background-color: rgb(0, 195, 255);

  p {
    margin: 0 30px;
  }

}


// 1,熱中症とは？原因
.het_container {
  display: flex;

  .hetCause {
    border: solid 1px black;
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }
}


.img {
  height: 800px;
  margin: 0 auto;
}