// ヘッダー 
.header {
  height: 150px;
  display: flex;
  align-items: center;

  img {
    height: 100px;
    margin: 0 350px;
  }

}

.header_left {
  font-size: 40px;
  display: flex;

  i {
    margin: 0 5px;
    color: blue;
  }
}

// メニューボタン
.menubtn {
  display: flex;
  justify-content: center;
  font-size: 20px;
  height: 30px;
  background-color: rgb(0, 195, 255);

  p {
    margin: 0 30px;
  }

}


// 1,熱中症とは？原因
.main_cause{
  display: flex;
  padding: 30px;
  height: 100vh;

  p{
    font-size: 20px;
    font-weight: 400;
  }
}

.bg{
  text-align: center;


  img {
    height: 300px;
    margin-bottom: 20px;
  }
  
}

.het_container {
  // border: solid 1px black;
  display: flex;
  justify-content: space-around;
  
}

.hetCause,
.hetCause-yellow,
.hetCause-pink{
  border: solid 1px black;
  border-radius: 20px;
  height: 400px;
  width: 300px;
  padding: 30px 30px;
}

.hetCause{
  &-yellow{
    background-color: yellow;
    border: solid 1px orange;
    
  }
  &-pink{
    background-color: pink;
  }
}

  .question,.answer{
    border: solid 1px blue;
    border-radius: 10px;
    background-color: aquamarine;
    height: 50px;
    width: 250px;
    padding: 10px;
    font-weight: bold;
    
  }
  .question{
    position: relative;
    cursor: default;
}

.question::after,.question::before{
    content: '';
    display: block;
    background-color: blue;
    position: absolute;
}

.question::after{
    width: 20px;
    height: 2px;
    right: 10px;
    top: 50%;
  }
  

.question::before{
    width: 2px;
    height: 20px;
    right: 19px;
    top: 36%;
  }

.question.on::before{
    display: none;
  }

.answer{
    display: none;
    background-color: rgb(183, 181, 87);
}



// 2,熱中症になってしまったら
.ntu-main {
  margin-top: 50px;
  border: solid 1px black;
  height: 100vh;

  img {
    height: 200px;
    // margin: 0 100px;


  }
}



// Bootstrap
.container {
  margin:50px 50px;
}

// suppaiman
.suppai-container{
  display: flex;
  margin:30px 30px 30px 30px;

.suppai-right{
 margin-left: 50px;
}


}